<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">

</head>

<div class="container">
  <div class="bar-top"></div>
  <div class="content">
    </div>
  <div class="bar-bottom"></div>
</div>

<button class="button" onclick="toggleOptions()">
  <span class="bar"></span>
  <span class="bar"></span>
  <span class="bar"></span>
</button>

<ul class="options" id="options-dropdown">
  <li>Chat</li>
  <li>Setting</li>
</ul>

<script>
  function toggleOptions() {
    var optionsDropdown = document.getElementById("options-dropdown");
    if (optionsDropdown.style.display === "block") {
      optionsDropdown.style.display = "none"; // ซ่อน Dropdown
    } else {
      optionsDropdown.style.display = "block"; // แสดง Dropdown
    }
  }
</script>


</body>
</html>